/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-family: system-ui, sans-serif;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #b58900;
  color: #002b36
}

.tab {
  position: sticky;
  top: 0;
  font-family: system-ui, sans-serif;
}
/* Create an active/current tablink class */
.tab button.active {
  background-image: linear-gradient(#b58900, #cb4b16);
  color: #fdf6e3;
  border-top-style: solid;
  border-top-width: 4px;
  padding: 12px 16px;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 5px;
  border-radius: 5px black;
  border-top: none;
} 

.tabcontent {
  animation: fadeEffect 0.5s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

body {
    font-family: system-ui, sans-serif;
    margin: 0;
    padding: 0;
}

#computermodel p {
  margin: 0;
  display: inline;
  font-weight: bold;
  font-size: x-large;
}

@media (prefers-color-scheme: dark) {
  body { background: #002b36; color: #93a1a1; }
  .tab {
    overflow: hidden;
    border: 0px;
    background-color: #073642;
    color: #93a1a1
  }
}

@media (prefers-color-scheme: light) {
  body { background: #fdf6e3; color: #586e75; }
  .tab {
    overflow: hidden;
    border: 0px;
    background-color: #eee8d5;
    color: #586e75
  }
}

table, th, td {
  border: 1px solid;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  text-align: left;
}

th {
  font-size:large;
}

img[alt="Mfg Logo"] {
  width: 200px !important;
  object-fit: contain;
  float: right;
  border: 5px solid black;
  border-radius: 5px;
  background-color: #fdf6e3;
}